* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bai Jamjuree", sans-serif;
}

:root {
    --swiper-theme-color: white !important;
}

.swiper-notification {
    display: none !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;